body
{
    background-color: Teal;
}
.content
{
    border-style: inset;
    background-color: Aqua;
    width: 400px;
    margin-left: 360px;
}
.btn
{
    padding: 10px;
}
.netPay
{
    color:Red;
   
    text-decoration:underline;
    width:300px;
    float:left;
    padding: 10px;
}
#wage
{
    padding: 10px;
    width:300px;
}
#hours
{
       width:300px;
    padding: 10px;
}
#grossPay
{
       width:300px;
    padding: 10px;
    float:left;
}
#beforeTaxDeduc
{
       width:300px;
    padding: 10px;
}
#taxablePay
{
       width:300px;
    padding: 10px;
}
#taxRate
{
    float:left;
       width:300px;
    padding: 10px;
}
#afterTaxDeduc
{  
     width:300px;
    padding: 10px;
}
.label, .entry
{
    width: 150px;
    float: left;
}
#buttons
{
    width:300px;    
}