body 
{
    background-color:Teal;
}
.content
{
    border-style:inset;
    background-color:Aqua;
       width:300px;
       margin-left:360px;
}
.btn
{
    padding:10px;    
}
.netPay
{
    padding:10px;
}
#wage
{
    padding:10px;    
}
#hours
{
    padding:10px;    
}
#grossPay
{
    padding:10px;    
}
#beforeTaxDeduc
{
    padding:10px;    
}
#taxablePay
{
    padding:10px;    
}
#taxRate
{
    padding:10px;    
}
#afterTaxDeduc
{
    padding:10px;    
}